
@model Emlak.Models.USERS
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @{
        if (!string.IsNullOrEmpty(ViewBag.LoginErrorMessage))
        {
            <script>alert("Kullanıcı Adı veya Şifre Hatalı !");</script>
        }
    }
</head>
<body>
</body>
</html>
